In [1]:
import pandas as pd
from sklearn.cluster import KMeans
import matplotlib.pyplot as plt
import seaborn as sns

# Load the data
country_mapping = pd.read_excel(r"C:\Users\pingk\Downloads\fadhli nitip\country_mapping.xlsx")
country_2digit = pd.read_excel(r"C:\Users\pingk\Downloads\fadhli nitip\country_2digit.xlsx")
provincial_code = pd.read_excel(r"C:\Users\pingk\Downloads\fadhli nitip\provincial code.xlsx")
three_group_precipitation = pd.read_excel(r"C:\Users\pingk\Downloads\fadhli nitip\three_group_precipitation.xlsx")
four_group_precipitation = pd.read_excel(r"C:\Users\pingk\Downloads\fadhli nitip\four_group_precipitation.xlsx")
island_mapping = pd.read_excel(r"C:\Users\pingk\Downloads\fadhli nitip\island code.xlsx")
thai_mapping = pd.read_excel(r"C:\Users\pingk\Downloads\fadhli nitip\thai_vs_nothai.xlsx")

In [4]:
data_rt4 = pd.read_csv(r"C:\Users\pingk\Downloads\fadhli nitip\fadhli nitip\csv\data_NIR_1.csv")

In [5]:
# Inspect the first few rows of each dataset
print("Raw Data:")
print(data_rt4.head())
print(country_mapping.head())
print(country_2digit.head())
print(provincial_code.head())
print(three_group_precipitation.head())
print(four_group_precipitation.head())
print(island_mapping.head())
print(thai_mapping.head())

Raw Data:
  prov_char  country_code country_char           wavenumber     11544  \
0       CBI             0           TH  TH-CBI-028-2312-001  1.130114
1       CBI             0           TH  TH-CBI-028-2312-001  0.632215
2       CBI             0           TH  TH-CBI-028-2312-001  0.327512
3       CBI             0           TH  TH-CBI-028-2312-001  0.409853
4       CBI             0           TH  TH-CBI-028-2312-001  0.325830

      11540     11536     11532     11528     11524  ...      3988      3984  \
0  1.129987  1.129905  1.130098  1.130034  1.129895  ...  4.116173  4.092401
1  0.632145  0.631933  0.631887  0.632053  0.632104  ...  3.968800  3.966085
2  0.327577  0.327569  0.327574  0.327606  0.327647  ...  3.757404  3.723851
3  0.409919  0.410024  0.410191  0.410317  0.410413  ...  3.844122  3.838978
4  0.325964  0.326084  0.326087  0.326056  0.326163  ...  3.791623  3.798710

       3980      3976      3972      3968      3964      3960      3956  \
0  4.085280  4.090815  4.124988  4.168652  4.163396  4.143246  4.156603
1  3.938113  3.913646  3.907744  3.920535  3.933646  3.939754  3.925399
2  3.694534  3.690430  3.701378  3.696666  3.666743  3.634470  3.617612
3  3.811965  3.796956  3.787820  3.774406  3.756090  3.743530  3.741426
4  3.796472  3.783592  3.744903  3.705976  3.696601  3.691616  3.661514

       3952
0  4.158818
1  3.855970
2  3.602382
3  3.725178
4  3.621867

[5 rows x 1903 columns]
  country_name  country_code
0     Thailand             0
1    Indonesia             1
2     Malaysia             2
  country_char  country_code
0           TH             0
1           ID             1
2           MY             2
  prov_char  prov_code
0       CBI          0
1       CCO          1
2       CPN          2
3       KBI          3
4       KRI          4
  prov_char  three_group_precip tgp_name dgp_name
0       SKM                   0  Group 1  Group 1
1       PKN                   0  Group 1  Group 1
2       CBI                   0  Group 1  Group 1
3       CCO                   0  Group 1  Group 1
4       KRI                   0  Group 1  Group 1
  prov_char  four_group_precip fgp_name
0       SKM                  0  Group 1
1       PKN                  0  Group 1
2       CBI                  0  Group 1
3       CCO                  0  Group 1
4       KRI                  0  Group 1
  prov_char  island_code
0       CBI            0
1       CCO            0
2       CPN            0
3       KBI            0
4       KRI            0
  country_char  th_vs_noth thnoth_name
0           TH           0        Thai
1           ID           1    Non-Thai
2           MY           1    Non-Thai

In [6]:
# Merge data_rt4 with provincial_code on 'prov_char'
data_rt4_with_prov_code = pd.merge(data_rt4, provincial_code, how='left', left_on='prov_char', right_on='prov_char')

# Merge the result with three_group_precipitation
data_rt4_with_3precip = pd.merge(data_rt4_with_prov_code, three_group_precipitation, how='left', left_on='prov_char', right_on='prov_char')

# Merge the result with four_group_precipitation
data_rt4_with_3p4p = pd.merge(data_rt4_with_3precip, four_group_precipitation, how='left', left_on='prov_char', right_on='prov_char')

# Merge the result with country_mapping
data_rt4_with_countryname = pd.merge(data_rt4_with_3p4p, country_mapping, how='left', left_on='country_code', right_on='country_code')

# Merge the result with thai_mapping
data_rt4_with_thai = pd.merge(data_rt4_with_countryname, thai_mapping, how='left', left_on='country_char', right_on='country_char')

# Merge the result with island_mapping
data_rt4_with_sixcat = pd.merge(data_rt4_with_thai, island_mapping, how='left', left_on='prov_char', right_on='prov_char')

In [7]:
# Inspect the first few rows of each dataset
print("Data with Additional Groupings:")
print(data_rt4_with_sixcat.head())

Data with Additional Groupings:
  prov_char  country_code country_char           wavenumber     11544  \
0       CBI             0           TH  TH-CBI-028-2312-001  1.130114
1       CBI             0           TH  TH-CBI-028-2312-001  0.632215
2       CBI             0           TH  TH-CBI-028-2312-001  0.327512
3       CBI             0           TH  TH-CBI-028-2312-001  0.409853
4       CBI             0           TH  TH-CBI-028-2312-001  0.325830

      11540     11536     11532     11528     11524  ...  prov_code  \
0  1.129987  1.129905  1.130098  1.130034  1.129895  ...        0.0
1  0.632145  0.631933  0.631887  0.632053  0.632104  ...        0.0
2  0.327577  0.327569  0.327574  0.327606  0.327647  ...        0.0
3  0.409919  0.410024  0.410191  0.410317  0.410413  ...        0.0
4  0.325964  0.326084  0.326087  0.326056  0.326163  ...        0.0

   three_group_precip  tgp_name  dgp_name  four_group_precip  fgp_name  \
0                 0.0   Group 1   Group 1                0.0   Group 1
1                 0.0   Group 1   Group 1                0.0   Group 1
2                 0.0   Group 1   Group 1                0.0   Group 1
3                 0.0   Group 1   Group 1                0.0   Group 1
4                 0.0   Group 1   Group 1                0.0   Group 1

   country_name  th_vs_noth  thnoth_name  island_code
0      Thailand           0         Thai          0.0
1      Thailand           0         Thai          0.0
2      Thailand           0         Thai          0.0
3      Thailand           0         Thai          0.0
4      Thailand           0         Thai          0.0

[5 rows x 1913 columns]

In [8]:
# Input your dataset here

asik  = data_rt4_with_sixcat.drop(
        columns=[
            col for col in data_rt4_with_sixcat.columns 
            if col in ['country_code', 'prov_code', 'three_group_precip', 'four_group_precip', 'th_vs_noth', 'island_code'] 
            #or (col.replace('.', '', 1).isdigit() and any(float(col) >= start and float(col) < end for start, end in [(3100, 4001), (1870, 2700)]))
            #or (col.replace('.', '', 1).isdigit() and 822.01 <= float(col) < 879.99)
        ]
    )

asik.to_csv('C:/Users/pingk/Downloads/fadhli nitip/asik_NIR_1.csv', index=False)