In [1]:
import pandas as pd
from sklearn.cluster import KMeans
import matplotlib.pyplot as plt
import seaborn as sns

# Load the data
country_mapping = pd.read_excel(r"C:\Users\pingk\Downloads\fadhli nitip\country_mapping.xlsx")
country_2digit = pd.read_excel(r"C:\Users\pingk\Downloads\fadhli nitip\country_2digit.xlsx")
provincial_code = pd.read_excel(r"C:\Users\pingk\Downloads\fadhli nitip\provincial code.xlsx")
three_group_precipitation = pd.read_excel(r"C:\Users\pingk\Downloads\fadhli nitip\three_group_precipitation.xlsx")
four_group_precipitation = pd.read_excel(r"C:\Users\pingk\Downloads\fadhli nitip\four_group_precipitation.xlsx")
island_mapping = pd.read_excel(r"C:\Users\pingk\Downloads\fadhli nitip\island code.xlsx")
thai_mapping = pd.read_excel(r"C:\Users\pingk\Downloads\fadhli nitip\thai_vs_nothai.xlsx")

In [3]:
data_rt4 = pd.read_csv(r"C:\Users\pingk\Downloads\fadhli nitip\fadhli nitip\csv\data_rt4_tambahanindo.csv")

In [4]:
# Inspect the first few rows of each dataset
print("Raw Data:")
print(data_rt4.head())
print(country_mapping.head())
print(country_2digit.head())
print(provincial_code.head())
print(three_group_precipitation.head())
print(four_group_precipitation.head())
print(island_mapping.head())
print(thai_mapping.head())

Raw Data:
  prov_char  country_code country_char               wavenumber   649.893  \
0       KTX             1           ID  ID-KTX-068-2306-003_001  0.015794
1       KTX             1           ID  ID-KTX-068-2306-003_002  0.014523
2       KTX             1           ID  ID-KTX-068-2306-003_003  0.010280
3       KTX             1           ID  ID-KTX-068-2306-002_001  0.005386
4       KTX             1           ID  ID-KTX-068-2306-002_002  0.007414

    650.376   650.858    651.34   651.822   652.304  ...  3995.783  3996.265  \
0  0.016324  0.016524  0.016383  0.015971  0.015417  ...  0.000664  0.000594
1  0.014325  0.014323  0.014442  0.014605  0.014763  ...  0.000542  0.000378
2  0.011086  0.011959  0.012718  0.013193  0.013295  ... -0.000970 -0.001102
3  0.005712  0.006217  0.006896  0.007735  0.008692  ...  0.001383  0.001353
4  0.006574  0.005528  0.004484  0.003628  0.003092  ...  0.001987  0.002045

   3996.747   3997.23  3997.712  3998.194  3998.676  3999.158   3999.64  \
0  0.000510  0.000430  0.000373  0.000352  0.000367  0.000404  0.000441
1  0.000181 -0.000012 -0.000157 -0.000222 -0.000193 -0.000083  0.000071
2 -0.001228 -0.001327 -0.001380 -0.001377 -0.001326 -0.001243 -0.001157
3  0.001339  0.001350  0.001392  0.001465  0.001565  0.001679  0.001789
4  0.002099  0.002155  0.002217  0.002283  0.002351  0.002410  0.002449

   4000.122
0  0.000452
1  0.000221
2 -0.001095
3  0.001877
4  0.002456

[5 rows x 6954 columns]
  country_name  country_code
0     Thailand             0
1    Indonesia             1
2     Malaysia             2
  country_char  country_code
0           TH             0
1           ID             1
2           MY             2
  prov_char  prov_code
0       CBI          0
1       CCO          1
2       CPN          2
3       KBI          3
4       KRI          4
  prov_char  three_group_precip tgp_name dgp_name
0       SKM                   0  Group 1  Group 1
1       PKN                   0  Group 1  Group 1
2       CBI                   0  Group 1  Group 1
3       CCO                   0  Group 1  Group 1
4       KRI                   0  Group 1  Group 1
  prov_char  four_group_precip fgp_name
0       SKM                  0  Group 1
1       PKN                  0  Group 1
2       CBI                  0  Group 1
3       CCO                  0  Group 1
4       KRI                  0  Group 1
  prov_char  island_code
0       CBI            0
1       CCO            0
2       CPN            0
3       KBI            0
4       KRI            0
  country_char  th_vs_noth thnoth_name
0           TH           0        Thai
1           ID           1    Non-Thai
2           MY           1    Non-Thai

In [5]:
# Merge data_rt4 with provincial_code on 'prov_char'
data_rt4_with_prov_code = pd.merge(data_rt4, provincial_code, how='left', left_on='prov_char', right_on='prov_char')

# Merge the result with three_group_precipitation
data_rt4_with_3precip = pd.merge(data_rt4_with_prov_code, three_group_precipitation, how='left', left_on='prov_char', right_on='prov_char')

# Merge the result with four_group_precipitation
data_rt4_with_3p4p = pd.merge(data_rt4_with_3precip, four_group_precipitation, how='left', left_on='prov_char', right_on='prov_char')

# Merge the result with country_mapping
data_rt4_with_countryname = pd.merge(data_rt4_with_3p4p, country_mapping, how='left', left_on='country_code', right_on='country_code')

# Merge the result with thai_mapping
data_rt4_with_thai = pd.merge(data_rt4_with_countryname, thai_mapping, how='left', left_on='country_char', right_on='country_char')

# Merge the result with island_mapping
data_rt4_with_sixcat = pd.merge(data_rt4_with_thai, island_mapping, how='left', left_on='prov_char', right_on='prov_char')

In [6]:
# Inspect the first few rows of each dataset
print("Data with Additional Groupings:")
print(data_rt4_with_sixcat.head())

Data with Additional Groupings:
  prov_char  country_code country_char               wavenumber   649.893  \
0       KTX             1           ID  ID-KTX-068-2306-003_001  0.015794
1       KTX             1           ID  ID-KTX-068-2306-003_002  0.014523
2       KTX             1           ID  ID-KTX-068-2306-003_003  0.010280
3       KTX             1           ID  ID-KTX-068-2306-002_001  0.005386
4       KTX             1           ID  ID-KTX-068-2306-002_002  0.007414

    650.376   650.858    651.34   651.822   652.304  ...  prov_code  \
0  0.016324  0.016524  0.016383  0.015971  0.015417  ...         20
1  0.014325  0.014323  0.014442  0.014605  0.014763  ...         20
2  0.011086  0.011959  0.012718  0.013193  0.013295  ...         20
3  0.005712  0.006217  0.006896  0.007735  0.008692  ...         20
4  0.006574  0.005528  0.004484  0.003628  0.003092  ...         20

   three_group_precip  tgp_name  dgp_name  four_group_precip  fgp_name  \
0                   2   Group 3   Group 2                  3   Group 4
1                   2   Group 3   Group 2                  3   Group 4
2                   2   Group 3   Group 2                  3   Group 4
3                   2   Group 3   Group 2                  3   Group 4
4                   2   Group 3   Group 2                  3   Group 4

   country_name  th_vs_noth  thnoth_name  island_code
0     Indonesia           1     Non-Thai            1
1     Indonesia           1     Non-Thai            1
2     Indonesia           1     Non-Thai            1
3     Indonesia           1     Non-Thai            1
4     Indonesia           1     Non-Thai            1

[5 rows x 6964 columns]

In [7]:
# Input your dataset here

asik  = data_rt4_with_sixcat.drop(
        columns=[
            col for col in data_rt4_with_sixcat.columns 
            if col in ['country_code', 'prov_code', 'three_group_precip', 'four_group_precip', 'th_vs_noth', 'island_code'] 
            #or (col.replace('.', '', 1).isdigit() and any(float(col) >= start and float(col) < end for start, end in [(3100, 4001), (1870, 2700)]))
            #or (col.replace('.', '', 1).isdigit() and 822.01 <= float(col) < 879.99)
        ]
    )

asik.to_csv('C:/Users/pingk/Downloads/fadhli nitip/asik_adisiindo.csv', index=False)